@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_margin {
  margin: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2 span {
  color: #1746A2;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1746A2;
  border-radius: 0 0 350px 0;
}

.sub_page .hero_area {
  min-height: auto;
  border-radius: 0 0 45px 0;
}

.header_section {
  padding: 15px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 25px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #000000;
  background-color: #ffffff;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #000000;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-left: 5px;
}

.quote_btn-container a:hover {
  color: #FF731D;
}

.quote_btn-container .quote_btn {
  display: inline-block;
  padding: 5px 25px;
  background-color: #FF731D;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #FF731D;
}

.quote_btn-container .quote_btn:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  text-align: center;
  color: #ffffff;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -5px;
  margin-top: 45px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 185px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 12px 15px;
  background-color: #1746A2;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #5F9DF7;
}

.slider_section .detail-box .btn-box .btn1:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 23px;
  height: 23px;
  background-color: #FF731D;
}

.service_section {
  text-align: center;
}

.service_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .box {
  margin-top: 25px;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 100%;
}

.service_section .box::before {
  content: "";
  width: 275px;
  height: 275px;
  position: absolute;
  right: -137.5px;
  bottom: -137.5px;
  background-color: #faf8fd;
  z-index: -1;
  border-radius: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service_section .box .img-box img {
  width: 75px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service_section .box .detail-box {
  margin-top: 15px;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  position: relative;
}

.service_section .box .detail-box a {
  color: inherit;
}

.service_section .box:hover {
  color: #ffffff;
}

.service_section .box:hover::before {
  -webkit-transform: scale(5);
          transform: scale(5);
  background-color: #1746A2;
}

.service_section .box:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #1746A2;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #1746A2;
}

.service_section .btn-box a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.about_section {
  background-color: #1746A2;
  color: #ffffff;
  border-radius: 250px 0 250px 0;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
  position: relative;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #FF731D;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #FF731D;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.case_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.case_section .box {
  margin-top: 45px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
}

.case_section .box .img-box {
  position: relative;
}

.case_section .box .img-box img {
  width: 100%;
}

.case_section .box .detail-box {
  padding: 25px;
}

.case_section .box .detail-box h5 {
  font-weight: bold;
}

.case_section .box .detail-box p {
  font-size: 15px;
}

.case_section .box .detail-box a {
  color: #1746A2;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0;
  text-align: center;
}

.client_section .box .img-box {
  width: 125px;
  height: 125px;
  min-width: 125px;
  position: relative;
  margin-bottom: -62.5px;
}

.client_section .box .img-box img {
  width: 100%;
  border-radius: 100%;
}

.client_section .box .client_info .client_name h5 {
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}

.client_section .box .client_info .client_name h6 {
  margin-bottom: 0;
  color: #1746A2;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
}

.client_section .box .client_info i {
  font-size: 24px;
}

.client_section .box p {
  margin-top: 15px;
}

.client_section .box .detail-box {
  background-color: #ffffff;
  background-color: #1746A2;
  color: #ffffff;
  border-radius: 15px;
  padding: 85px 45px 15px 45px;
}

.client_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .carousel-indicators li {
  background-color: #1746A2;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  opacity: 1;
}

.client_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #FF731D;
}

.contact_section {
  position: relative;
}

.contact_section form {
  margin-top: 45px;
}
.contact_section .form_container {
  margin-top: 45px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: #000000;
  border: 1px solid #a5a5a5;
}

.contact_section input::-webkit-input-placeholder {
  color: #1c1b1b;
}

.contact_section input:-ms-input-placeholder {
  color: #1c1b1b;
}

.contact_section input::-ms-input-placeholder {
  color: #1c1b1b;
}
.contact_section input[readonly] {
  background-color: #f2f2f2;
}
.contact_section input::placeholder {
  color: #1c1b1b;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 10px 65px;
  background-color: #1746A2;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #1746A2;
  color: #fff;
  margin-top: 10px;
}

.contact_section button:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.contact_section .map_container {
  height: 100%;
  min-height: 325px;
  overflow: hidden;
  margin-left: 45px;
}

.contact_section .map_container .map {
  height: 100%;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}



/* _____________________________________-
FOR TESTING PERPOSE
____________________________________________*/

.contact_section2 {
  position: relative;
}

.contact_section2 .form_container2 {
  margin-top: 45px;
  padding: 20px; /* Increased padding for a larger form */
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Increased width */
  height: 300px; /* Set a fixed height */
}

.contact_section2 input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: #000000;
  border: 1px solid #a5a5a5;
}

.contact_section2 input[readonly] {
  background-color: #f2f2f2;
}

.contact_section2 input::-webkit-input-placeholder {
  color: #1c1b1b;
}

.contact_section2 input:-ms-input-placeholder {
  color: #1c1b1b;
}

.contact_section2 input::-ms-input-placeholder {
  color: #1c1b1b;
}

.contact_section2 input::placeholder {
  color: #1c1b1b;
}

.contact_section2 input.message-box2 {
  height: 50px;
}

.contact_section2 button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 10px 65px;
  background-color: #1746A2;
  color: #ffffff;
  border-radius: 3px;
  transition: all 0.3s;
  border: 1px solid #1746A2;
  color: #fff;
  margin-top: 10px;
  width: 100%;
}

.contact_section2 button:hover {
  color: #ffffff;
  transform: translateY(-3px);
}





.contact_section2 .form_container2 {
  margin: 0 auto; /* Center the form container */
  max-width: 800px; /* Set a maximum width for the form container */
  height: 250px; /* Set a fixed height for the form container */
}

@media (max-width: 768px) {
  .contact_section2 .form_container2 {
    max-width: 90%; /* Make the form container width responsive */
    height: auto; /* Adjust height for smaller screens */
  }
}


.footer_container  {
  background-color: #1746A2;
  color: #ffffff;
  border-radius: 350px 0 0 0;
  padding-top: 145px;
}

/* info section */
.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #FF731D;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #FF731D;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a:hover {
  color: #f8842b;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #FF731D;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #FF731D;
  margin-top: 15px;
}

.info_section form button:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

/* end info section */
/* footer section*/
.footer_section {
  position: relative;
  text-align: center;
  width: 100%; /* Ensure it fills the width */
  /* Footer Section */
  background-color: #1746A2;
}


.footer_section p {
  padding: 25px 0;
  margin: 0;
  background-color : #1746A2;

}

.footer_section p a {
  color: inherit;
}
/*
---------------------------------------------
PopUp
---------------------------------------------
*/




#lean_overlay {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  height: 200%;
  width: 200%;
  background: #000;
  display: none;
  
}

.popupContainer {
  position: fixed;
  width: 330px;
  height: auto;
  left: 50%;
  top: 60px;
  background: #FFF;
  overflow-y: auto;
  max-height: 100vh;
  z-index: 2000;
}

.btn {
  padding: 10px 20px;
  background: #5F9DF7;
  color: #fff;
  transition: all .3s;
}

.btn_red {
  background: #5F9DF7;
  color: #FFF;
}

.btn:hover {
  background: #E4E4E2;
}

.btn_red:hover {
  color: #2a2a2a;
  background: #E4E4E2;
}

a.btn {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

a.btn_red {
  color: #FFF;
}

.one_half {
  width: 50%;
  display: block;
  float: left;
}

.one_half.last {
  width: 45%;
  margin-left: 5%;
}
/* Popup Styles*/

.popupHeader {
  font-size: 16px;
  text-transform: uppercase;
}

.popupHeader {
  background: #F4F4F2;
  position: sticky;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
  z-index: 10;
  top: 0;
}

.popupHeader .modal_close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  background: #5F9DF7;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.popupBody {
  padding: 20px;
  padding-bottom: 60px;
  
}

.social_login .social_box {
  display: block;
  clear: both;
  padding: 10px;
  margin-bottom: 10px;
  background: #F4F4F2;
  overflow: hidden;
}

.social_login .icon {
  display: inline-block;
  
  padding: 5px 10px;
  margin-right: 10px;
  /*float: left;*/
  color: #FFF;
  font-size: 16px;
  text-align: center;
}

.social_login .fb .icon {
  background: #3B5998;
}

.social_login .google .icon {
  background: #DD4B39;
}

.social_login .icon_title {
  display: block;
  padding: 5px 0;
  float: left;
  font-weight: bold;
  font-size: 16px;
  color: #777;
}

.social_login .social_box:hover {
  background: #E4E4E2;
}

.centeredText {
  color: #afafaf;
  text-align: center;
  margin: 20px 0;
  clear: both;
  overflow: hidden;
  text-transform: capitalize;
}

.user_login label {
  color: #afafaf;
}

.action_btns {
  clear: both;
  overflow: hidden;
}

.action_btns a {
  display: block;
}
/* User Login Form */

.user_login {
  display: none;
}

.user_login label {
  display: block;
  margin-bottom: 5px;
}

.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
}

.user_login input[type="checkbox"] {
  float: left;
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

.user_login input[type="checkbox"]+label {
  float: left;
}
.feedback {
  display: none;
  margin-top: 10px;
  color: #FF731D;
  margin-bottom: 10px;
 text-align: center;
 padding: 10px;
}
.success {
  color: #5F9DF7;
  background-color: #8ab9ffb3;
  text-align: center;
}

.error {
  color: #FF731D;
  background-color: #ffba90;
  text-align: center;
}

.user_login .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}

.forgot_password {
  display: block;
  margin: 20px 0 10px;
  clear: both;
  overflow: hidden;
  text-decoration: none;
  color: #5F9DF7;
  transition: all .3s;
}
/* User Register Form */

.user_register {
  display: none;
  overflow-y: hidden;

}

.user_register label {
  color: #afafaf;
  display: block;
  margin-bottom: 5px;
}

.user_register input[type="text"],
.user_register input[type="email"],
.user_register input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
}

.user_register input[type="checkbox"] {
  width: 22px;
  height: 22px;
  float: left;
  margin-right: 8px;
}

.user_register input[type="checkbox"]+label {
  float: left;
  color: #afafaf;
}

.user_register .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}

/* Reset Password Form */

.reset_password_form {
  display: none;
}

.reset_password_form label {
  color: #afafaf;
  display: block;
  margin-bottom: 5px;
}

.reset_password_form input[type="text"],
.reset_password_form input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
}

.reset_password_form .action_btns {
  clear: both;
  overflow: hidden;
}

.reset_password_form .action_btns a {
  display: block;
  width: 100%;
}

/* Terms and Conditions Popup */

.terms_content {
  padding: 5px;
  font-size: 12px;
}

#terms_modal .popupHeader {
  font-size: 16px;
  text-transform: uppercase;
  background: #F4F4F2;
  padding: 10px 20px; /* Ensure enough padding for the close button */
  border-bottom: 1px solid #DDD;
  font-weight: bold;
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Space between title and close button */
  align-items: center; /* Align items vertically in the center */
  position: sticky;
  top: 0;
  z-index: 10;
}

#terms_modal .modal_close {
  padding: 10px 15px;
  background: #5F9DF7;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

#terms_modal .popupBody {
  padding: 20px;
}

#terms_modal {
  z-index: 33000; /* Highest z-index */
}
#terms_modal {
  position: fixed;
  width: 330px;
  height: 330px;
  left: 50%;
  top: 50px;
  background: #FFF;
  max-height: 100vh;
  transform: translateX(-50%);
  z-index: 33000;  /* Highest z-index */
}
#terms_modal .checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#terms_modal .checkbox input[type="checkbox"] {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

#terms_modal .checkbox label {
  color: #afafaf;
}
/*------------------------
logo
--------------------*/


.activate-logo {
  border: none;  /* Removes any border around the button */
  background: none;  /* Removes any background styling from the button */
  padding: 0;  /* Removes padding to avoid extra space around the image */
  cursor: pointer;
  transition: transform 0.3s ease;
  display: block; /* Ensures the button doesn't add extra width/height */
  width: 120px;  /* Adjust the width as desired */
  height: 120px;  /* Adjust the height as desired */
  margin: 0 auto; /* Centering the button in its container */
  outline: none;  /* Removes the focus outline that browsers might add */
}

.activate-logo img {
  width: 100%;  /* Ensures the image fills the button */
  height: 100%; /* Maintains the aspect ratio */
  display: block; /* Removes any space below the image */
  border: none;
}

.activate-logo:hover,
.activate-logo:focus {
  transform: scale(1.2); }

  input.user_link {
    width: 80%;
    text-align: center;
}
.heading_container button.next-tweet {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 10px 35px;
  background-color: #1746A2;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #1746A2;
  color: #fff;
  margin-top: 10px;
}
.heading_container  button.next-tweet:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.heading_container button.classify{
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 10px 35px;
  background-color: #FF731D;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #FF731D;
  color: #fff;
  margin-top: 10px;
}
.heading_container  button.classify:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
/*-------------------
profile and drawer
--------------------*/
.dropdown-container {
  display: inline-block;
  padding: 10px;
}
.dropdown-container .dropdown {
  position: relative;
}
.dropdown-container .dropdown[open] .with-down-arrow::after {
  content: "";
}
.dropdown-container .dropdown[open] summary {
  background: #ffffff10;
}
.dropdown-container .dropdown summary {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
}
.dropdown-container .dropdown summary.avatar {
  border-radius: 50px;
}
.dropdown-container .dropdown summary.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: inline-block;
  margin: 0;
}
.dropdown-container .dropdown summary .with-down-arrow {
  display: inline-flex;
  padding: 5px;
  align-items: center;
  color: #fff;
  line-height: 1;
}
.dropdown-container .dropdown summary .with-down-arrow::after {
  content: "";
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
.dropdown-container .dropdown.left ul {
  left: 0;
}
.dropdown-container .dropdown.right ul {
  right: 0;
}
.dropdown-container .dropdown ul {
  padding: 0;
  margin: 0;
  box-shadow: 0 0 10px #00000030;
  /*min-width: max-content;*/
  width:250px;
  height: max-content;
  position: absolute;
  top: 100%;
  
  border-radius: 10px;
  background-color: #fff;
  z-index: 2;
}
.dropdown-container .dropdown ul li {
  list-style-type: none;
  display: block;
  /* If you use divider & borders, it's best to use top borders */
  
  padding-left: 1rem;
}
.dropdown-container .dropdown ul li:first-of-type {
  border:none;
  background-color: #fff;
  border-bottom: 1px solid #5F9DF7;
  
}
.dropdown-container .dropdown ul li p {
  padding: 10px 15px;
  margin: 0;
}
.dropdown-container .dropdown ul li p h4 span {
  padding: 10px ;
  margin: 0;
  font-size: .5rem;
  font-weight: bold;
  
  
}
.dropdown-container .dropdown ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
  text-decoration: none;
  line-height: 1;
  color: #333;
}
.dropdown-container .dropdown ul li a:hover {
  color: #5F9DF7;
}
.dropdown-container .dropdown ul li:first-of-type {
  border-radius: 10px 10px 0 0;
}
.dropdown-container .dropdown ul li:last-of-type {
  border-radius: 0 0 10px 10px;
}
.dropdown-container .dropdown ul li.divider {
  border: none;
  border-bottom: 1px solid #333;
  /* 
   * removes border from Li after the divider element
   * best used in combination with top borders on other LIs 
   */
}
.dropdown-container .dropdown ul li.divider ~ li {
  border: none;
}



/*-------------------------------
video //learn 
*/
/* Section and Content Styling */
.service_section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content h1, .content h2, .content p, .content ul {
  text-align: justify;
  max-width: 800px;
  width: 100%;
}

/* Heading Styles */
.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.content h2, .content q {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 0.5em;
}

/* Paragraph and List Styles */
.content p, .content ul li {
  font-size: 1.2em;
  line-height: 1.6;
}

.content ul {
  list-style-position: inside;
}

/* Video Container Styling */
.popout-video {
  width: 100%;
  position: relative;
  margin-bottom: 20px; /* Add space below the video */
}

.popout-video video {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}



/* Media Query for Responsive Layout */
@media (max-width: 768px) {
  .content, .popout-video video {
    padding: 10px;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */